{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
     <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/dist/css/bootstrap.css' %}">
    <style>
      .account{
        width:360px;
        border:1px solid #dddddd;
        border-radius:5px;
        box-shadow:5px 5px 20px #aaa;
        margin-left:auto;
        margin-right:auto;
        margin-top:180px;
        padding:20px 40px;
      }
      .account h2{
        margin-top:5px;
        text-align:center;
      }
    </style>
</head>
<body>

<span class="container">
    <form method='post' class="form-horizontal  account" novalidate>
      <h2>用户登录</h2>
      {% csrf_token %}
  <div class="form-group">
    <label class="col-sm-3 control-label">用户名</label>
    <div class="col-sm-9">
      {{ form.username }}
      <span style="color:red;">{{ form.username.errors.0 }}</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">密码</label>
    <div class="col-sm-9">
      {{ form.password }}
      <span style="color:red;">{{ form.password.errors.0 }}</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">
      <span>验证码</span>
<!--      <span id="ok" style="color:lightgreen;display:{{error}}" class="glyphicon glyphicon-ok-sign"></span>-->
<!--      <span id="error" style="color:red;" class="glyphicon glyphicon-remove-sign"></span>-->
    </label>


    <div class="col-sm-5">

      {{ form.code }}
      <span style="color:red;">{{ form.code.errors.0 }}</span>
    </div>
    <div class="col-sm-2">
      <img src="/image/code" id="image_code" alt="" >

    </div>

  </div>
      <div style="height:20px;">
        <span id="countdown" style="margin-left:80px;color:red;">

        </span>
      </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">登录</button>
    </div>
  </div>
</form>
</div>
<script>
  var countdown = 60;
  var countdownTimer = setInterval(function(){
    if(countdown>0){
      document.getElementById('countdown').innerText = '验证码还有'+countdown+'s过期！'
      countdown -= 1;
    }else{
      clearInterval(countdownTimer)
      document.getElementById('countdown').style.display='none'
    }
  },1000)
</script>
</body>
</html>