{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom:10px;">
        <div class="row">
            <div class="col-lg-6 col-xs-4">
                <a href="/user/add" target="_blank" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    新建用户
                </a>
            </div>

            <div style="float:right" class="col-lg-4 col-xs-6">
                <form method="get">
                    <div class="input-group">
                        <input type="text" placeholder="搜你所想" value="{{ search_data }}" name="q"
                               class="form-control">
                        <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    </div>
                </form>
            </div>
        </div>


    </div>
        <div class="panel panel-success">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list"></span> 用户列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>姓名</th>
                    <th>密码</th>
                    <th>年龄</th>
                    <th>余额</th>
                    <th>入职时间</th>
                    <th>性别</th>
                    <th>所属部门</th>
                    <th>操作</th>

                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                <tr>

                    <td>{{ obj.id }}</td>
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.password }}</td>
                    <td>{{ obj.age }}</td>
                    <td>{{ obj.account }}</td>
                    <td>{{ obj.create_time|date:"Y-m-d" }}</td>
                    <td>{{ obj.get_gender_display }}</td>
                    <td>{{ obj.depart.title }}</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="/user/{{ obj.id }}/edit">编辑</a>
                        <a class="btn btn-danger btn-xs" href="/user/delete?nid={{ obj.id }}">删除</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class='pagination'>
    {{ page_string }}
    </ul>
    </div>
{% endblock %}